*{
    font-family: Century;
    color: rgb(8, 133, 8);
    color: rgb(232, 236, 239);
    color: rgb(166, 166, 117);
    color: rgb(10, 10, 10);
    color: rgb(181, 181, 129);
    color: rgb(70, 70, 223);
    color: rgb(245, 12, 12);
    color: rgb(84, 79, 79);
    
}